---
import BlogLayout from "@layouts/BlogLayout.astro";
import type { GetStaticPaths } from "astro";
import Article from "@components/Article";
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";

import favicon from "@assets/article.svg";

export const getStaticPaths: GetStaticPaths = async () => {
  const articles = await getCollection("articles");
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { slug: article.slug },
  }));
};

const article = await getEntry("articles", Astro.props.slug);
if (!article) throw Error("getStaticPaths mismatch for articles");
const { Content } = await article.render();

const description = `Tags:${article.data.tags
  .map((tag) => ` ${tag}`)
  .toString()}. ${article.body.slice(0, 100)}`;
---

<BlogLayout
  title={article.data.title}
  icon={favicon}
  description={description}
  back="/blog"
>
  <div class="mb-20">
    <Article article={article.data}>
      <Content />
    </Article>
  </div>
</BlogLayout>
